/* Add your CSS to this file */
*{
    box-sizing:border-box;
    padding: auto;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding: 0 30px;
}

header{
    background-color: white;
    padding-top: 20px;
    border-bottom: 1px solid #e2e8f0;
}

header h1{
    font-size: 18px;
}

nav a{
    font-size: 18px;
    text-decoration: none;
    color: #6b7280;
}

nav a:hover{
    color: #5A67D8;
}


header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    float: left;
}

nav ul{
    display: flex;
    gap: 20px;
    float:right;
    list-style:none;
}

.overview-hero{
    background-color: #E2E8F0;
}

.overview-hero .container{
    display:flex;
    align-items: center;
    gap:60px;
    padding: 50px;
}

.overview-hero-text h2{
    font-weight: normal;
}

.overview-hero-image img{
    border-radius: 8px;
    align-items: center;
    width: 180px;
    height: 180px;
}

.learn-about{
    padding: 30px;
}

.learn-about h2{
    font-size: 24px;
    color:#48BB78;
    margin-bottom: 40px;
}

.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card img{
    width:250px;
    height:200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    border: 1px solid #E2E8F0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:0 2px 4px rgba(116, 114, 114, 0.842);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body{
    padding:10px;
}

.card-body h3{
    font-size: 21px;
    color: #48BB78;
    margin-bottom: 10px;
}

.card-body p{
    font-weight:450;
    padding:5;
}

.testing {
    padding:60px;
    background-color: #4A5568;
    color: white;
}

.testing .container{
    display: flex;
    align-items: center;
    gap:60px;
}

.testing-desciption{
    flex:1;
    float:left;

}
.cta {
    float:right;
}

.cta a{
    background-color: #48BB78;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding:12px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.stories{
    padding: 60px;
}

.stories article{
    display:flex;
    gap:30px;
    align-items: flex-start;
}

.stories article img{
    width:180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.stories h2{
    color: #5A67D8;
}

.stories article a{
    color: #5A67D8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.newsletter{
    background-color: #48BB78;
    color: white;
}

.newsletter .container{
    max-width: 500px;
    padding:50px;

}

.newsletter h3{
    text-align: center;
}
.newsletter p{
    justify-content: left;
}

.newsletter form{
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: 500px;

}

.form-group{
    flex:1;
}


.newsletter .btn{
    background-color: #5A67D8;
    color: white;
    border:none;
    border-radius: 5px;
    padding:15px 28px;

}

.newsletter input[type="email"]{
    width:100%;
    padding: 18px 21px;
    border:none;
    border-radius: 5px;
}

footer{
    padding:10px;
    background-color: #4A5568;
    color: white;
}
